<!DOCTYPE html>
<htm>
    <head>
        <meta charset="utf-8">
        <title> Projects Page</title>
    </head>
    <body>
        {{> header}}

        <br/>
        <br/>
        <a href="https://github.com/tameralloh/node-test-web-server"> Github </a>
    </body>
      {{> footer}}
</html>
